<!doctype html>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    </head>

    <body>

        <div style="width: 80%; margin: 0 auto;">

            <h1>BotTalk</h1>

            <p>Suffer from multiple personality disorder? Well we're not here to help you. Actually, we're here to enable you.</p>

            <div ng-controller="GroupCtrl">
                <h2>Choose Group</h2>
                <select ng-model="groups.selected" ng-options="group.name for group in groups.groups" ng-change="chat.getMessages(groups.selected)">
                </select>
            </div>

            <!--
            <div ng-controller="CreateCtrl">
                <h2>Create New Bot</h2>
                <form class="form-inline" ng-submit="submit(name, groups.selected, avatar_url)">
                    <input style="width: 20%;" class="form-control" type="text" ng-model="name" placeholder="Name"/>
                    <input style="width: 20%;" class="form-control" type="text" ng-model="groups.selected.group_id" placeholder="Group ID" disabled />
                    <input style="width: 20%;" class="form-control" type="text" ng-model="avatar_url" placeholder="Avatar URL" />
                    <input type="submit" value="Create" class="btn btn-default" />
                </form>
            </div>
            -->

            <div ng-controller="ChatCtrl">
                <h2>Chat</h2>
                <ul class="nav nav-pills nav-stacked" style="width: 20%; float: left;">
                    <li ng-repeat="bot in bots.bots | filter:groups.selected.group_id" ng-click="bots.setSelected(bot)">
                        <a><img width="50" height="50" ng-src="{{bots.getAvatar(bot)}}"/> {{bot.name}}</a>
                    </li>
                    <li data-toggle="modal" data-target="#myModal">
                        <a><img width="50" height="50" src="https://app.groupme.com/images/default-avatar.jpg" /> Create a Bot</a>
                    </li>
                </ul>
                <!-- This is where messages will go  -->
                <div style="width: 80%; float: left;">
                    
                    <div id="track" style="height: 500px; overflow-y: scroll;">
                    <ul class="list-unstyled">
                        <li style="margin-bottom: 10px;" ng-repeat="message in chat.messages| orderBy:'+created_at'">
                            <img style="vertical-align: top;" width="50" height="50" ng-src="{{bots.getAvatar(message)}}"/> 
                            <p style="display: inline-block; width: 80%;">
                                {{message.name}} <br />
                                {{message.text}}
                            </p>
                        </li>
                    </ul>
                    </div>

                    <form style="clear: both; margin-top: 10px;" ng-submit="submit(text, bots.selected.bot_id, groups.selected)">
                        <textarea style="margin-bottom: 10px;" class="form-control" ng-model="text" placeholder="Comment..."></textarea>
                        <input type="submit" value="Send" class="btn btn-primary" />
                        <input type="button" value="Refresh" class="btn btn-default" ng-click="chat.getMessages(groups.selected)" />
                    </form>
                </div>
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a Bot</h4>
      </div>
      <div class="modal-body">
            <div ng-controller="CreateCtrl">
                <form class="form-inline" ng-submit="submit(name, groups.selected, avatar_url)">
                    <input style="width: 20%;" class="form-control" type="text" ng-model="name" placeholder="Name"/>
                    <input style="width: 20%;" class="form-control" type="text" ng-model="groups.selected.group_id" placeholder="Group ID" disabled />
                    <input style="width: 20%;" class="form-control" type="text" ng-model="avatar_url" placeholder="Avatar URL" />
                    <input type="submit" value="Create" class="btn btn-default" />
                </form>
            </div>            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/bots.js"></script>
        <script src="js/app.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    </body>

</html>
